{% extends 'layout.njk' %}

{% block content %}

    <form action="/image" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required><br>

        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" required><br>

        <label for="userApiKey">API Key:</label>
        <input type="text" id="userApiKey" name="userApiKey" required><br>

        <button type="submit">Submit</button>
    </form>

{% endblock %}